<!DOCTYPE html>
<html>
    <head>
        <title>Hello</title>
        <meta charset="utf8" />
        <link rel="stylesheet" type="text/css" href="/assets/css/reset.css" />
        <link rel="stylesheet" type="text/css" href="/assets/css/style.css" /> 
    </head>
    <body>
        <header>
            <a href="/">
                Projet
            </a>
            <nav>
                <a href="/">Home</a>
                <a href="/phones">Phones</a>
            </nav>
        </header>
        <main>
       
            {% block main %}{% endblock %}
        </main>
        <footer>
            <img src="/assets/img/logo3.png" alt="" />
        </footer>
    </body>
</html>
