{% extends "base.twig" %}
{% block main %}
<select id="monselect">
  <option value="valeur1">{{ marque.nom }}</option> 
  <option value="valeur2" selected>{{marque.nom}}</option>
  <option value="valeur3">{{marque.nom}}</option>
</select>
<section>
{% for tel in telephones %}
    <article class="phone">
        <a href="/phone/{{tel.modele}}">
            <img src="{{tel.image}}" alt="{{tel.modele}}" /> 
        </a>
        <p>{{ tel.modele }}</p>
        <p>{{ tel.prix }} €</p>
    </article>
{% endfor %}
</section>
{% endblock %}
