{% extends "base.twig" %}
{% block main %}
<article>
    <img src="{{phone.image}}" alt="{{phone.modele}}" />
    <br/>
    <dl>
    <dt>Modele</dt>
    <dd>{{ phone.modele }} </dd>
    <dt>Prix</dt>
    <dd>{{ phone.prix }} euros</dd>
    <dt>Taille</dt>
    <dd>{{ phone.taille }} </dd>
    <dt>Autonomie</dt>
    <dd>{{ phone.autonomie }} heures</dd>
    <dt>Qualité Photo</dt>
    <dd>{{ phone.qualitephoto }} mpx</dd>
    <dt>Couleur</dt>
    <dd>{{ phone.couleur }} </dd>
    <dt>Capacité</dt>
    <dd>{{ phone.capacite }} GO</dd>
    <dl>
</article>

{% endblock %}