{% for marque in marques %}
    - {{ marque.id }} {{ marque.nom }}
{% endfor %}

{{ sony.id }} {{ sony.nom }}

<br />
{% for tel in telephones %}
    {{ tel.id }} {{ tel.prix }} {{ tel.marque.nom }} 
    <img src="{{tel.image}}" alt="{{tel.modele}}" />
    <br/>
{% endfor %}