* {
    font-family: 'Montserrat', sans-serif;
}



header{
    background: rgb(70, 70, 70) url("../img/bannerspace.jpg") no-repeat ;
    background-size: cover;
}

main img{
    margin-top : 300px;
    display: block;
    margin : 0 auto;
 }

footer {
    margin-top: 70px;
    background: rgb(70, 70, 70);
    padding: 1em;
}

footer img{
    max-width: 150px;
    display: block;
    margin: 0 auto;
}

header > a{
    width: 512px;
    height: 100px;
    display: block;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: auto auto;
    background: url("../img/logo3.png") no-repeat;
    color: transparent;
}


header nav{
    background: rgb(70, 70, 70);
    padding: 0 0.6em;
}

header nav a {
    display: inline-block;
    padding: 0. 0.6em;
    text-decoration: none;
    color: white;
    border-bottom: 3px solid transparent;
}

header nav a:hover{
    
    font-weight: bold;
}

main article img {
    margin-bottom: 0;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    
    display: block;
    margin: 0 auto;
}

main article dl {
    width: 100%;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-top: 2px solid rgb(70, 70, 70);
    
    background-color: rgb(231, 231, 231)
}

main article dl dt, main article dl dd {
    padding: 0 0.8em;
    display: block;
    margin: 0;
}

main article dl dt {
    margin-top: 15px;
    font-weight: bold;
}

main article dl dd {
    text-align: right;
    border-bottom: 1px dotted rgb(70, 70, 70);
    padding-left: 0;
    padding-bottom: 15px;
    font-style: italic;
}

main article dl dd:last-of-type {
    border-bottom: none;
}

main section
{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 100%;
    max-width: 960px;
    margin: 0 auto;
}

main section article.phone img {
    max-width: 250px;
    height: auto;
    display: block;
    margin: 0 auto;
}

main section article.phone {
    text-align: center;
    margin-top: 25px;
}